body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: red;
    border: 3px solid powderblue;
}
.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}