body {
    background-color: rgb(6, 25, 66);
    margin: auto;
    width: 50%;
    padding: 10px;
    font-family: sans-serif;
}
h1 {
    color: rgb(153, 255, 139);
}
h2 {
    color: rgb(153, 255, 139);
}
p {
    color: rgb(153, 255, 139);
}

a:link {
    color: rgb(139, 176, 255);
}
a:visited {
    color: rgb(255, 0, 0);
}
a:hover {
    color: rgb(42, 109, 255);
}
a:active {
    color: rgb(255, 255, 255);
}

canvas {
    margin-left: 0%;
    width: 100%;
    padding: 3px;
    font-family: sans-serif;
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges; 
    image-rendering: optimize-contrast; 
    -ms-interpolation-mode: nearest-neighbor;
}
