body {
    background-color: rgb(0, 0, 0);
    margin: auto;
    width: 75%;
    padding: 10px;
    font-family: sans-serif;
}
h1 {
    color: rgb(255, 0, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
h2 {
    color: rgb(255, 132, 132);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
p {
    color: rgb(255, 132, 132);
}
a:link { color: rgb(255, 132, 132)}
a:visited {color: rgb(255, 132, 132);}
a:hover {color:  rgb(255, 0, 0)}
a:active {color: rgb(21, 255, 0)}

canvas {
    margin-left: 0%;
    width: 100%;
    padding: 3px;
    font-family: sans-serif;
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges; 
    image-rendering: optimize-contrast; 
    -ms-interpolation-mode: nearest-neighbor;
}
