body {
    background-color: rgb(0, 0, 0);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1080px;
    margin: auto;
    width: 75%;
    padding: 10px;
    font-family: sans-serif;
}

a:link {
    color: rgb(0, 255, 0);
}
a:visited {
    color: rgb(0, 255, 0);
}
a:hover {
    color: rgb(0, 255, 0);
}
a:active {
    color: rgb(0, 255, 0);
}

h1 {
    color: rgb(0, 255, 0);
}
h2 {
    color: rgb(0, 255, 0);
}
p {
    color: rgb(0, 255, 0);
}


canvas {
    margin-left: -25%;
    width: 141%;
    padding: 0px;
    font-family: sans-serif;
    image-rendering: optimizeSpeed; 
    image-rendering: -moz-crisp-edges; 
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges; 
    image-rendering: optimize-contrast; 
    -ms-interpolation-mode: nearest-neighbor;
}
